
/*    Main Section Navbar    */
/*    #hero-navbar    */

.logo{
    max-width: 200px !important;
}
.logo img{
    height: 50px  !important;
}

.navbar-light .navbar-brand{
    width: 70px !important;
}


.footer-area .navbar-brand{
    width: 100px;
}