.card{
  
    padding: 0;
    border-radius: 20px;
   
   
    box-shadow: 0px 5px 2px 2px rgb(175, 174, 174);
}
.card-img{
    border-radius: 20px;
    height: 250px;
   
}

.color-orange{
    color: rgb(247, 107, 56);
    font-family: "Montserrat", sans-serif;
    font-weight: 800 !important;
}