*{
  margin: 0;
  padding: 0;
}

/* ------------------------
    General
------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@400;600;700&display=swap');

h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif; font-weight:normal; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; letter-spacing: 1px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 700; color: #332c55;}
h2 { font-family: 'Montserrat',  sans-serif; font-style: normal;font-size: 30px; font-weight: 600; color: #332c55;}
h3 { font-family: 'Montserrat', sans-serif;  font-style: normal; font-weight: 600; color: #332c55;}
h4 { font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 600; color: #332c55;}
h5 { font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 600; color: #332c55;}
h6 { font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 600; color: #332c55;}

a {
  color: #505050;
  text-decoration: none;
}

a:hover { 
  color: #728B6B;
  text-decoration: none !important;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 40px;
}


::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #545454;
}


@media only screen and (max-width: 800px) {

  ::-webkit-scrollbar{
    display: none;
  }

}





